APP_NAME=StayTracked
PUBLIC_URL=http://localhost:3000
ORIGIN=${PUBLIC_URL}
JWT_TOKEN_SECRET=
SMTP_CONNECTION_URI=smtp://localhost:1025
SMTP_FROM=noreply@local.host
PUBLIC_SMTP_PROXY_HOSTNAME=local.host
# Feature flags
ENABLE_RECOVER_PASSWORD=true
ENABLE_VERIFY_EMAIL=true
ENABLE_OAUTH_GITHUB=false
ENABLE_OAUTH_GOOGLE=false
ENABLE_VISITS_STATISTICS=true
# OAuth providers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Web Push keys - generate with `npx web-push generate-vapid-keys`
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
